<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.6">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.interop</package>
	<author>corneliozbett</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.interop.InteropActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>2.3.3 - 2.*</require_version>
	
	<!-- Extensions -->
	<extension>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<require_modules>
		<require_module>org.openmrs.event</require_module>
		<require_module>org.openmrs.module.fhir2</require_module>
	</require_modules>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Kafka configuration	-->
	<globalProperty>
		<property>@MODULE_ID@.enableKafka</property>
		<description>Only set to true if you want to publish messages to a configured Kafka Instance</description>
		<defaultValue>false</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.kafkaClientId</property>
		<description>Kafka client ID</description>
		<defaultValue>demo</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.kafkaServerURL</property>
		<description>Kafka server URL. Please If you are using Ipv4 or Ipv6, you should specify the port number e.g. 127.0.0.1:9090 </description>
		<defaultValue>localhost:9092</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.kafkaKeySerializers</property>
		<description>Kafka key serializers</description>
		<defaultValue>org.apache.kafka.common.serialization.StringSerializer</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.kafkaValueSerializers</property>
		<description>Kafka value serializers</description>
		<defaultValue>org.apache.kafka.common.serialization.StringSerializer</defaultValue>
	</globalProperty>

	<!-- Openhim configuration-->
	<globalProperty>
		<property>@MODULE_ID@.enableOpenHIM</property>
		<description>Only set to true if you want to publish messages to a configured OpenHIM Instance</description>
		<defaultValue>false</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openhimBaseURL</property>
		<description>OpenHIM base URL e.g http://localhost:5001</description>
		<defaultValue>localhost</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openhimBaseURLSuffix</property>
		<description>OpenHIM base URL suffix e.g /fhir/v4 </description>
		<defaultValue>/fhir/v4</defaultValue>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.conditions</property>
		<description>coma separated list of conditions(concept questions)</description>
		<defaultValue></defaultValue>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.encounterTypes.enabled</property>
		<description>Encounter types enabled</description>
		<defaultValue></defaultValue>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.mflcode.locationAttributeTypeUuid</property>
		<description>Facility MFL code location attribute type UUID</description>
		<defaultValue>8a845a89-6aa5-4111-81d3-0af31c45c002</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.nupi.patientIdentifierTypeUuid</property>
		<description>NUPI Patient identifier type UUID</description>
		<defaultValue>f85081e2-b4be-4e48-b3a4-7994b69bb101</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.practitionerAttributeTypeUuid</property>
		<description>Practitioner UUID</description>
		<defaultValue>186bbf06787-268338a2-1e78-4b18-93cc-22f240d6fc37</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.appointments</property>
		<description>coma separated list of appointments(concept questions)</description>
		<defaultValue></defaultValue>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.encounterTypes.appointments</property>
		<description>Appointment encounter types enabled</description>
		<defaultValue></defaultValue>
	</globalProperty>
	
</module>
